body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 20px 40px;

}

a {
    text-decoration: none;
    color: black;
}

button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
input:focus,
input.active.focus,
input,
button {
    outline: none;
    box-shadow: none;
    background-color: white;
    border: none;
}


#media-query-profile,
#alert,
.invalid,
#invalidWarning,
#noProfileFound,
#open_close_filters {
    display: none;
}

.invalid,
#invalidWarning {
    color: red;
    font-size: 12px;
}


/*....................... Header.................... */

/* #header
{
    position:fixed;
} */

header {
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0px;
    display: flex;
    /* height: fit-content; */
    justify-content: space-between;
    border-bottom: solid rgba(128, 128, 128, 0.342) 2px;
    height: 80px;
    background-color: white;
}

#company {
    display: flex;
    gap: 10px;
    padding-top: 15px;
    height: fit-content;
    /* border:solid; */
}


#title p {
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
}

.blue-color p,
#profile p {
    font-weight: bold;

}

#profile {
    font-size: 20px;
    /* border:solid; */
    display: flex;
    height: fit-content;
}

#normal-profile {
    display: flex;
    /* border: solid; */
}

#normal-profile #name {
    /* border:solid; */
    /* display: flex; */
    /* display: block; */
    margin-top: 25px;
    font-weight: bold;
}

#profile img {
    height: 60px;
    padding-left: 10px;
    /* border:solid; */
}

#logo img {
    height: 70px;
    /* position:absolute; */
    /* border:solid; */
}


.blue-color,
#title .blue-color {
    color: rgba(0, 177, 252, 255);
    font-size: 25px;
}


/* ...........Filters............... */


#Department,
#offices,
#JobTitle {
    font-size: 15px;
    margin-bottom: 10px;
}

#Department div,
#offices div,
#JobTitle div {
    display: block;
    padding: 0px 5px;
    background: none;
    border: none;
    margin: 5px;
    width: 100%;
    /* border:solid; */

}

#Department div:hover,
#offices div:hover,
#JobTitle div:hover {
    /* border: rgba(0, 177, 252, 255) solid; */
    background-color: rgb(187, 218, 250);
}

#filters .optionSelected,
#filter2 .optionSelected {
    background-color: rgba(0, 177, 252, 255);
}

#filters .optionDeSelected,
#filter2 .optionDeSelected {
    background-color: none;
}




#all-filters {
    /* border:solid; */
    padding: 0px;
    margin: 0px;
    width: auto;
}

#filters {

    /* position: fixed;
    backgdround-color: aliceblue; */
    height: 400px;
    min-width: 270px;

    overflow: scroll;
    scroll-margin-block: none;
    /* border: solid; */
}

#filters::-webkit-scrollbar {
    display: none;
}

#modal-dialog1 {
    margin-left: 0;
    width: fit-content;
    /* border: solid; */
}

#filter2 {
    padding: 20px;
    margin: 10px;
}

#filters h4,
#filter2 h4 {
    font-size: 15px;
    font-weight: bold;
}

/* ...........Content ............... */

#content {
    display: flex;

    margin-top: 20px;
}



#home {
    width: 100%;
    /* padding-top: 0px; */
    /* border: solid; */
}

#alphabert-search {
    margin: 0px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}



#alphabert-search button,
#open-filter-icon button,
#closs-filter-icon button {
    height: 32px;
    width: 32px;
    margin: 1px;
    background: rgba(0, 177, 252, 255);
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

}

#alphabert-search .optionSelected {
    background-color: rgb(4, 111, 173);
}

#search-and-add {
    display: flex;
    justify-content: space-between;

    /* border:solid; */

}

#search-and-add #search {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    /* border:solid green; */
}

#search-and-add #search #input {
    border: solid rgba(128, 128, 128, 0.342) 2px;
    height: 30px;
    padding-left: 5px;
    margin: auto auto;
    border-radius: 5px;
    width: 200px;

    display: flex;

}

#search p {
    /* border:solid; */
    margin: auto;
}

#search #input input {
    font-size: 11px;
}

#clear-btn {
    height: 35px;
    width: 80px;
    margin: auto auto;
    margin-left: 20px;
    background-color: rgba(105, 186, 0, 255);
    color: white;
    border-radius: 5px;
    border: none;
}

#clear-btn:hover {
    background-color: rgb(6, 151, 18);
}

#filter-by {
    margin: auto auto;
    font-weight: bold;
    font-size: 15px;

}

#filter-by label {
    padding-right: 10px;
}

#filter-by #select-employee {
    height: 35px;
    width: 150px;
    border: solid rgba(128, 128, 128, 0.342) 2px;
}

#add-employee {
    margin: auto 0px;
}

#add-employee button {
    height: 35px;
    width: fit-content;
    background-color: rgba(0, 177, 252, 255);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

#alphabert-search .alpha-button:hover,
#add-employee button:hover {
    background: rgb(14, 140, 237);
}


.note {
    font-size: 13px;
}

/* ..............employee-dashboard............... */
#employee-dashboard {
    display: flex;
    flex-wrap: wrap;
    border: solid rgba(128, 128, 128, 0.342) 2px;
    padding-left: 5px;

    height: 325px;
    overflow: scroll;
    scroll-margin-block: none;
    align-content: flex-start;
}

#employee-dashboard::-webkit-scrollbar {
    display: none;
}

.employee-card {
    display: flex;
    margin: 10px 5px;
    gap: 10px;
    height: 75px;
    width: 215px;
    /* border: solid green; */
    background-color: rgba(128, 128, 128, 0.221);

}

.employee-card:hover {
    box-shadow: 0px 0px 3px 3px rgba(77, 76, 76, 0.221);
}

.employee-card .photo {
    margin: 10px 10px;
    /* border:solid; */

}

.employee-card .photo img {
    height: 50px;
    width: 50px;

}

.employee-card .employee-data h4 {
    font-size: 12px;
    font-weight: bold;
}

.employee-card .employee-data {
    padding-top: 2px;
    font-size: 11px;

}

.employee-card .employee-data p {
    line-height: 0px;
}

.employee-data .socail {

    display: flex;
    gap: 5px;
}

.employee-data .socail i {
    color: rgba(128, 128, 128, 0.799);
}

@media (max-width:1080px) {
    #search-and-add {
        display: block;
    }

    #add-employee {
        margin-top: 10px;
    }

    .blue-color,
    #profile {
        font-size: 25px;
        font-weight: bold;
    }

    #profile {
        font-size: 20px;
    }
}

@media (max-width:905px) {
    /* #logo img {
        height: 50px;
        padding-top: 20px;
    } */

    .blue-color,
    #profile {
        font-size: 20px;
        font-weight: bold;
    }

    #profile {
        font-size: 20px;
    }

    #profile img {
        height: 50px;
    }
}

@media (max-width:810px) {

    #title {
        display: none;
    }

}



@media screen and (max-width:620px) {
    /* #content {
        display: block;
    }

    #alphabetsFilters {
        display: flex;
    } */

    #open_close_filters {
        display: block;
    }


    #alphabert-search .alphabets {
        /* border: solid; */
        display: none;
    }


    #search-and-save {
        border: solid;
        padding-left: 100px;
    }

    #input::placeholder {
        display: block;
    }



    #search {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #clear-btn {
        margin: 5px auto;
    }

    #normal-profile {
        display: none;
    }

    #media-query-profile {
        display: flex;
        margin-top: 15px;
        /* border:solid; */
    }

    #media-query-profile p {
        line-height: 3px;
        font-size: 15px;
        padding-top: 10px;
    }

    #logo img {
        height: 50px;
    }

    #all-filters {
        display: none;
    }

    #open-filter-icon {
        display: block;
    }

    #closs-filter-icon {
        display: none;
    }

}

@media screen and (max-width:400px) {
    #logo img {
        height: 35px;
    }

    #search p {
        display: none;
    }
}

/*  */

@media screen and (min-width:620px) {

    #closs-filter-icon button,
    #open-filter-icon button {
        display: none;
    }

}

/* bootstrap  */
.modal-header {
    background-color: rgba(0, 177, 252, 255);
}

.mb-3,
.mb-3 input {
    font-size: 15px;
}

.modal-header h5 {
    padding-left: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: rgba(55, 55, 54, 255);
    text-shadow: 0px 0px 0.5px rgba(55, 55, 54, 255);
    /* border: solid; */
}



#profileModel .modal-dialog {
    /* border:solid; */
    max-width: 900px;
}

.row {
    /* border:solid; */
    margin: 0px;
    padding: 10px;
}

.col-sm-3 {
    width: fit-content;
    /* border: solid; */
}

#alert {
    position: absolute;
    top: 50px;
    z-index: 1;
    width: 100%;
    /* border: solid; */
}

#alert_message {
    background-color: rgb(71, 237, 137);
    margin: auto;
    width: fit-content;
    /* border: solid; */
}